[Desktop Entry]
Name=Bash PWD Manager
Exec=/usr/local/bin/bashpwdm %f
Icon=/usr/share/pixmaps/bpwdm.png
Comment=Store Your Password in a secure way
Comment[it]=Salva le tue password in modo sicuro
Terminal=false
Type=Application
Categories=Utility;Security;
GenericName=Bash Password Manager
